.correctWords {
    z-index: 4;
    position: absolute;
    bottom: -10px;
    left: 40px;
    font-weight: 800;
    font-size: 96px;
    text-align: right;
    color: #263655;
}
.correctWords span {
    font-weight: 500;
    font-size: 18px;
    margin-left: -10px;
}



.container {
	width: 100%;
	padding-right: 16px;
	padding-left: 16px;
	margin-right: auto;
	margin-left: auto;
}

@media (min-width: 576px) {
	.container {
		max-width: 540px;
	}
}

@media (min-width: 768px) {
	.container {
		max-width: 720px;
	}
}

@media (min-width: 992px) {
	.container {
		max-width: 960px;
	}
}

@media (min-width: 1200px) {
	.container {
		max-width: 1140px;
	}
}

@media (min-width: 1440px) {
	.container {
		max-width: 1380px;
	}
}

.container-fluid, .container-sm, .container-md, .container-lg, .container-xl, .container-xxl {
	width: 100%;
	padding-right: 16px;
	padding-left: 16px;
	margin-right: auto;
	margin-left: auto;
}

@media (min-width: 576px) {
	.container, .container-sm {
		max-width: 540px;
	}
}

@media (min-width: 768px) {
	.container, .container-sm, .container-md {
		max-width: 720px;
	}
}

@media (min-width: 992px) {
	.container, .container-sm, .container-md, .container-lg {
		max-width: 960px;
	}
}

@media (min-width: 1200px) {
	.container, .container-sm, .container-md, .container-lg, .container-xl {
		max-width: 1140px;
	}
}

@media (min-width: 1440px) {
	.container, .container-sm, .container-md, .container-lg, .container-xl, .container-xxl {
		max-width: 1380px;
	}
}

.game {
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 0;
}

.game .cards-container {
	margin: 2px;
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	grid-template-rows: repeat(4, 1fr);
	grid-gap: 16px;
}

@media screen and (max-width: 450px) and (min-height: 650px) {
	.game .cards-container {
		grid-template-columns: repeat(4, auto);
		grid-template-rows: repeat(4, 1fr);
	}
}

@media screen and (max-width: 755px) and (max-height: 800px) {
	.game .cards-container {
		grid-template-columns: repeat(2, auto);
		grid-template-rows: repeat(8, 1fr);
	}
}

@media (max-width: 991.98px) {
	.game .cards-container {
		margin: 16px;
		grid-gap: 8px;
	}
} 