.welcomeContainer {
  padding: 44px 0 0 83px;
  display: grid;
  grid-template-rows: auto 1fr;
  grid-template-columns: minmax(auto, 320px) minmax(auto, 268px) 1fr;
}

.logo {
  display: block;
  font-weight: bold;
  font-size: 36px;
  color: #1958DB
}

.welcomeTitle {
  padding-top: 150px;
  font-weight: 800;
  font-size: 64px;
  line-height: 78px;
  color: #FF645F;
  margin-bottom: 25px;
  grid-column-start: 1;
  grid-column-end: 3;
}

.welcomeText {
  font-size: 22px;
  line-height: 27px;
  color: #FF645F;
  margin-bottom: 90px;
  grid-column-start: 1;
  grid-column-end: 2;
}

.welcomeButton {
  padding: 14px 27px;
  border: none;
  border-radius: 30px;
  background-color: #1958DB;
  font-weight: bold;
  font-size: 24px;
  color: #FFFFFF;
  cursor: pointer;

  grid-column-start: 1;
  grid-column-end: 2;
}