@keyframes heightAdjust {
	100% {
		height: 45px;
	}
}

#audioIcon {
	z-index: 1;
	width: 100px;
	height: 100px;
	border-radius: 50%;
	border-width: 3px;
	border-style: solid;
	/* border-color: #838993; */
	border-color: white;
	display: flex;
	justify-content: center;
	align-items: center;
    transition: border-color .3s linear;
}

/* #audioIcon:hover {
	cursor: pointer;
	border-color: white;
}

#audioIcon:hover span {
	background-color: white;
} */

#audioIcon span {
	display: inline-block;
	margin: 0 2px;
	width: 9px;
	height: 15px;
	border-radius: 5px;
	/* background-color: #1194C8; */
	background-color: white;
	transition: height .5s ease, background-color .3s linear;
}

#audioIcon .volumeChanges:nth-child(1) {
	animation: heightAdjust 0.5s 0s infinite linear alternate;
}

#audioIcon .volumeChanges:nth-child(2) {
	animation: heightAdjust 0.5s 0.25s infinite linear alternate;
}

#audioIcon .volumeChanges:nth-child(3) {
	animation: heightAdjust 0.5s 0.5s infinite linear alternate;
}

#audioIcon .volumeChanges:nth-child(4) {
	animation: heightAdjust 0.5s 0.75s infinite linear alternate;
}
