.today_progress_container {
    /* position: absolute; */
    width: 780px;
    height: 63px;
    /* left: 44px;
    top: 117px; */
    background: rgba(255, 202, 202, 0.36);
    /* opacity: 0.7; */
    border-radius: 8px;
}

.lamp_img{
    position: relative;
    left: 320px;
    bottom: 40px;
}
.user_name {
    font-family: Montserrat;
    max-width: 100px;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 45px;
    display: flex;
    align-items: center;
    color: #DA3F3A;
    margin-left: 30px;
    margin-bottom: 0px;
}

.today_description {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 5px;
    display: flex;
    align-items: center;
    color: rgba(17, 34, 86, 0.88);
    margin-left: 30px;
    margin-bottom: 0;
    max-width: 500px;
}
.bold_text{
    font-weight: 600;
    padding-left: 5px;
}

.level {
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 72px;
    /* display: flex; */
    align-items: center;
    color: #002755;
    position: relative;
    left: 370px;
    bottom: 90px;
}

@media (max-width: 1035px) {
    .today_progress_container {
        width: 90%;
    }
    .level {
        left: 295px;
    }
    .lamp_img {
        left: 245px;
    }
}
