.rate {
    display: flex;
    flex-direction: row;
    justify-content: left;
}

.dot {
    display: block;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    margin-right: 5px;
    background-color: #2B79E6;
}

.dot:last-child {
    margin-right: 0;
}

.dot.low {
    background-color: #FF645F;
}

.dot.empty {
    background-color: #DCDCDC;
}