.background1, .background2, .background3, .background4, .background5, .background6, .background7, .background8, .background9, .background10 {
    height: 100%;
    background-blend-mode: lighten;
}
.background1 {
    background: linear-gradient(90deg, rgba(255,100,95,1) 0%, rgba(230,99,109,1) 100%);
}

.background2 {
    background: linear-gradient(90deg, rgba(230,99,109,1) 0%, rgba(205,98,123,1) 100%);
}

.background3 {
    background: linear-gradient(90deg, rgba(205,98,123,1) 0%, rgba(182,97,135,1) 100%);
}.background4 {
    background: linear-gradient(90deg, rgba(182,97,135,1) 0%, rgba(161,96,146,1) 100%);
}.background5 {
    background: linear-gradient(90deg, rgba(161,96,146,1) 0%, rgba(140,95,157,1) 100%);
}.background6 {
    background: linear-gradient(90deg, rgba(140,95,157,1) 0%, rgba(119,94,168,1) 100%);
}.background7 {
    background: linear-gradient(90deg, rgba(119,94,168,1) 0%, rgba(98,93,179,1) 100%);
}.background8 {
    background: linear-gradient(90deg, rgba(98,93,179,1) 0%, rgba(75,91,192,1) 100%);
}.background9 {
    background: linear-gradient(90deg, rgba(75,91,192,1) 0%, rgba(50,90,206,1) 100%);
}.background10 {
    background: linear-gradient(90deg, rgba(50,90,206,1) 0%, rgba(25,88,219,1) 100%);
}

.example-appear {
    opacity: 0.01;
}

.example-appear.example-appear-active {
  opacity: 1;
  transition: opacity .5s ease-in;
}