.container {
    max-width: 723px;
    max-height: 288px;
    padding: 40px 28px;
    padding-top: 50px;
    box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.15);
    border-radius: 7px;
    position: relative;
}

.sectionTitle {
    position: absolute;
    top: 7px;
    left: 14px;
    font-family: Montserrat, sans-serif;
    text-align: left;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 25px;
    color: #112256;
}

.gamesContainer {
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 16px;
}

.gameContainer {
    max-width: 212px;
    max-height: 65px;
    background-color: rgba(162, 204, 218, 0.26);
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    padding: 10px;
    transition: box-shadow .2s linear;
    border: none;
}

.gameContainer:hover {
    cursor: pointer;
    box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.15);
}

.gameTitle {
    font-family: Montserrat, sans-serif;
    font-weight: 500;
    font-size: 18px;
    color: #0A5DC1;
    line-height: 1.2;
    text-align: right;
}

.gameStats {
    color: #112256;
    font-size: 14px;
    font-weight: 400;
    text-align: right;
}

.gameImage {
    height: 60px;
}

.statsTitle {
    font-family: Montserrat, sans-serif;
    color: #0A5DC1;
    font-weight: 500;
    font-size: 36px;
    margin-bottom: 10px;
}

.statsTableContainer {
    margin: 0;
    font-family: Montserrat, sans-serif;
    margin-left: -35px;
}
