body {
    overflow-x: hidden;
}

.container {
    display: flex;
    position: relative;
    flex-direction: row;
    margin: 50px auto;
    max-width: 70%;
}

.container::before {
    content: '';
    width: 912px;
    height: 640px;
    position: absolute;
    right: -400px;
    top: 220px;
    z-index: 0;
    display: block;
    background: linear-gradient(210deg, rgba(17,148,200,1) 0%, rgba(25,88,219,1) 22%, rgba(255,100,95,1) 84%, rgba(255,100,95,1) 100%);
    mask-image: url(../../img/waveVector1.svg);
    mask-repeat: no-repeat;
    mask-position: 0 0;
    opacity: .5;
}

.difficulties {
    margin-right: 80px;
    background-color: #ffffff;
}

.difficulties > span {
    display: block;
    font-size: 1rem;
    color: #112256;
    text-align: left;
}

.libraryColumn {
    display: flex;
    position: relative;
    z-index: 1;
    width: 100%;
    flex-direction: column;
    justify-content: left;
    background-color: #ffffff;
}

.diffContainer {
    display: flex;
    width: 100%;
    max-width: 120px;
    flex-direction: column;
    justify-content: left;
}

.diffLevel {
    color: #57719B;
    display: flex;
    width: 100%;
    flex-direction: column;
    text-align: left;
    margin: 30px 0 0;
    font-size: .8rem;
}

.diffLevel div {
    margin-bottom: 10px;
}

.background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    min-height: 100vh;
    background-size: cover;
    background:  url('../../img/gradient-main-page.svg') no-repeat 100% 100% fixed;
}

.cardContainer {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    min-width: 100%;
    min-height: 100vh;
}
