.wordMoreInfo {
    flex: 0 0 100%;
    display: flex;
    flex-direction: row;
    position: relative;
    padding: 30px 0 10px;
    overflow: hidden;
}

.texts {
    flex: 0 0 80%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 4px 10px;
    position: relative;
    background-color: #F3F3F3;
}

.text {
    position: absolute;
    top: -20px;
    left: 5px;
    color: #112256;
    font-size: .7rem;
    font-weight: lighter;
}
.textMean {
    color: #112256;
    font-size: .8rem;
}

.switchShowBtn, .moveToBtn {
    border: none;
    background-color: transparent;
    cursor: pointer;
}

.moveToBtn {
    text-decoration: underline;
    font-size: .8rem;
    color: #112256;
}
