.container {
  padding: 112px 40px;
  font-family: 'Montserrat', sans-serif;
}

.row {
  display: flex;
  flex-direction: column;
  align-items : center;
  margin-bottom: 24px;
}

.text {
  font-size: 48px;
  line-height: 59px;
  color: #1194C8;
  margin-bottom: 0;
  margin-bottom: 92px;
}

.textBold {
  font-weight: 800;
}

.main {
  display: grid;
  grid-template-columns: 1fr minmax(320px, 500px) 1fr;
}

.logo {
  composes: logo from '../landing-page.module.css';
}

.logoIcon {
  composes: logoIcon from '../landing-page.module.css';
}

.logoContainer {
  position: relative;
  align-self: end;
}

.contactsContainer {
  background-image: url('../../../img/contacts.png');
  background-repeat: no-repeat;
  background-size: contain;
  padding: 123px 0 114px;
}

.contact {
  text-align: center;
  margin-bottom: 40px;
  font-size: 18px;
  font-weight: 300;
  color: #29266B;
}

.contact:last-child {
  margin-bottom: 0;
}

.caption {
  font-weight: 600;
  margin-right: 10px;
}

.button {
  border: none;
  border-radius: 50%;
  width: 56px;
  height: 56px;
  align-self: end;
  justify-self: end;
  background-color: #2B79E6;
  box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.2), 0px 1px 18px rgba(0, 0, 0, 0.12), 0px 6px 10px rgba(0, 0, 0, 0.14);
  display: flex;
  align-items: center;
  justify-content: center;
}

@media(max-width: 680px) {
  .contact {
    margin-bottom: 10px;
    font-size: 14px;
  }

  .contactsContainer {
    background-position-x: center;
  }

  .main {
    display: block;
  }

  .logoContainer {
    display: none;
  }

  .button {
    display: none;
  }
}

@media(max-width: 410px) {
  .contactsContainer {
    padding-top: 65px;
  }

  .contact {
    font-size: 12px;
  }
}

