.card {
    color: white;
    font-weight: 400;
    font-size: 24px;
    font-family: Montserrat, sans-serif;
    width: 200px;
    height: 66px;
    border-radius: 5px;
    transition: background-color .2s linear;
    display: flex;
    justify-content: center;
    align-items: center;
}

.inactiveCard {
    color: #263655;
    font-weight: 400;
    font-size: 24px;
    font-family: Montserrat, sans-serif;
    width: 200px;
    height: 66px;
    border-radius: 5px;
    background-color: #EDEDED;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0.8;
    border: 1px salmon solid;
}

.activeCard {
    color: #263655;
    font-weight: 400;
    font-size: 24px;
    font-family: Montserrat, sans-serif;
    width: 200px;
    height: 66px;
    border-radius: 5px;
    background-color: #EDEDED;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px seagreen solid;
}

.card:not(:last-child), .inactiveCard:not(:last-child), .activeCard:not(:last-child) {
    margin-right: 15px;
}

.card:hover {
    background-color: #EDEDED;
    cursor: pointer;
    color: #263655;
}

.example-enter {
    opacity: 0;
}

.example-enter.example-enter-active {
  opacity: 1;
  transition: opacity 1s ease-in;
}
.example-exit {
    opacity: 0;
}
.example-exit-active {
  opacity: 1;
  transition: opacity 1000ms;
}  
  