.button {
    border-radius: 70px;
    padding: 20px 80px 28px 80px;
    font-weight: bold;
    font-size: 64px;
    line-height: 78px;
    text-align: center;
    color: #FFFFFF;
    border: none;
    cursor: pointer;
    transition: .2s ease-in-out;
}

.button:focus {
    outline: none;
}

.button:hover {
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.2), 0px 1px 18px rgba(0, 0, 0, 0.12), 0px 6px 10px rgba(0, 0, 0, 0.14);
    animation: ChangeSize 1s linear;
}

@keyframes ChangeSize {
    0% {
        width: 100%;
    }
    50% {
        width: 120%;
        margin-left: -10%;
    }
    100% {
        width: 100%;
        margin-left: 0;
    }
}
