.container {
  padding: 148px 102px 520px 10px;
  text-align: end;
  background-image: url('../../../img/progress.png');
  background-repeat: no-repeat;
  background-size: contain;
}

.title {
  font-weight: 800;
  font-size: 48px;
  line-height: 59px;
  color: #FF645F;
  margin-bottom: 25px;
}

.text {
  font-weight: 300;
  font-size: 18px;
  line-height: 22px;
  color: #FF645F;
  margin-bottom: 0;
}