.container {
  padding: 148px 102px 520px 10px;
  text-align: end;
  font-family: 'Montserrat', sans-serif;
  position: relative;
  z-index: 0;
  overflow: hidden;
}

.container::before {
  z-index: -1;
  position: absolute;
  left: 0;
  top: 0;
  content: url('../../../img/progress.png');
}

.title {
  font-weight: 800;
  font-size: 48px;
  line-height: 59px;
  color: #FF645F;
  margin-bottom: 25px;
}

.text {
  font-weight: 300;
  font-size: 18px;
  line-height: 22px;
  color: #FF645F;
  margin-bottom: 0;
}

@media(max-width: 1040px) {
  .container::before {
    opacity: 0.4;
  }
}