.gameContainer {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 60%;
    min-width: 865px;
    margin: 10px auto 0;
}
.startBtn {
    max-height: 100px;
    margin-top: unset;
    background: #ec5990;
    color: white;
    text-transform: uppercase;
    border: none;
    margin-top: 10px;
    padding: 14px 20px;
    font-size: 16px;
    font-weight: 600;
    letter-spacing: 4px;
    cursor: pointer;
    transition: all .2s;
}
.startBtn:hover {
    background: #ffffff;
    color: #ec5990;
}
.startBtn:active {
    transform: scale(.9);
}

@media (max-width: 1200px) {
    .gameContainer {
        width: 70vw;
    }
}

@media (max-width: 1020px) {
    .gameContainer {
        width: 90vw;
        min-width: unset;
    }
}

@media (max-width: 768px) {

}
