.resultsWindow {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 20px auto 0;
    border-radius: 5px;
    background-color: #ffffff;
    padding: 14px 14px 25px 14px;
}
.results {
    max-width: 500px;
    max-height: 500px;
    margin: 0 auto;
    overflow-y: scroll;
}
.resultsBtns {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 22px auto 0;
}
.resultsBtns button {
    background-color: #a09f9f;
}
.resultsBtns button:hover {
    color: #444444;
    background-color: #c5c4c4;
}
.numberRed,
.numberGreen {
    display: inline-flex;
    justify-content: center;
    border-radius: 50%;
    color: #ffffff;
    width: 23px;
    height: 23px;
    padding: 2px;
    line-height: 19px;
}
.numberRed {
    background-color: #da0303;
}
.numberGreen {
    background-color: #03da55;
}
.results > span {
    display: block;
    text-align: center;
}
.resultsImg {
    display: block;
    max-width: 300px;
    margin: 0 auto 5px;
}
.resultSent {
    display: flex;
    flex-direction: row;
    align-items: center;
}