.progressIndicator{
    width: 100vw;
    position: absolute;
    top: 95px;
    left: 0;
    height: 5px;
    background: linear-gradient(-90deg, #2BAAE0 0%, #4F9FFD 7.29%, #5183CE 20.83%, #82CF8A 43.23%, #EDDF5E 69.27%, #E95252 100%);
    text-align: left;
}

.indicatorContainer {
align-self: flex-start;
}
