.container {
  display: grid;
  max-width: 1200px;
  grid-template-columns: 385px 760px;
  grid-template-rows: 63px 193px 324px;
  grid-gap: 34px;
  padding: 34px;
  margin: auto;
  justify-content: space-between;
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  color: #112256;
}

.item1 {
  grid-row: 1 / span 2;
}

@media (max-width: 1235px) {
  .container {
    justify-content: center;
    grid-template-columns: 760px;
    grid-template-rows: 63px 289px 193px 324px 324px;
  }
  .item2 {
    grid-row: 1 / 1;
    grid-column: 1 / 1;
  }
  .item1 {
    grid-row: 2 / 2;
    grid-column: 1 / 1;
  }
  .item3 {
    grid-row: 3 / 3;
    grid-column: 1 / 1;
  }
  .item5 {
    grid-row: 4 / 4;
    grid-column: 1 / 1;
  }
  .item4 {
    grid-row: 5 / 5;
    grid-column: 1 / 1;
  }
}

@media (max-width: 767px) {
  .container {
    justify-content: center;
    grid-template-columns: 100%;
    grid-template-rows: 63px 289px 193px 340px 324px;
  }
}