.container {
  display: grid;
  width: 1200px;
  grid-template-columns: 385px 760px;
  grid-template-rows: 63px 193px 324px;
  grid-gap: 34px;
  padding: 34px;
  margin: auto;
  justify-content: space-between;
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  color: #112256;
}

.item1 {
  grid-row: 1 / span 2;
}