.container {
  display: flex;
  flex-direction: column;
  max-width: 220px;
  margin-right: 10px;
}

.container:last-child {
  margin-right: 0;
}

.image {
  min-height: 122px;
  margin-bottom: 55px;
}

.title {
  font-weight: bold;
  font-size: 36px;
  line-height: 44px;
  color: #2A2873;
  margin-bottom: 30px;
}

.text {
  font-weight: 300;
  font-size: 18px;
  line-height: 22px;
  color: #2A2873;
}