.background {
    position: absolute;
    top: 0;
    left: 0;
    /* bottom: 0;
    right: 0; */
    width: 100%;
    min-height: 100vh;
    background-size: cover;
    background:  url('../../../img/gradient-main-page.svg') no-repeat 100% 100% fixed;
}

.correctWords {
    z-index: 4;
    position: absolute;
    bottom: -10px;
    left: 40px;
    font-weight: 800;
    font-size: 96px;
    text-align: right;
    color: #263655;
}
.correctWords span {
    font-weight: 500;
    font-size: 18px;
    margin-left: -10px;
}

.cardContainer {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.circlesContainer {
    width: 70px;
    height: 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.wordsContainer {
    border: 1px rgba(38, 54, 85, 0.21) solid;
    border-radius: 15px;
    padding: 40px 90px;
    margin-top: 20px;
}

.word {
    font-family: Montserrat, sans-serif;
    font-weight: 500;
    font-size: 48px;
    color: #1958DB;
    line-height: 1.2;
}

.translation {
    font-weight: 400;
    font-size: 24px;
    color: #263655;
}

.buttonsContainer {
    max-width: 235px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 15px;
}

.noButton, .yesButton {
    padding: 4px 35px;
    color: white;
    font-weight: 500;
    font-size: 18px;
    font-family: Montserrat, sans-serif;
    border: none;
    border-radius: 7px;
    transition: background-color .2s linear;
}

.noButton {
    margin-right: 20px;
}

.noButton {
    background-color: #FF3333;
}

.noButton:hover {
    background-color: #be2b2b;
    cursor: pointer;
}

.yesButton {
    background-color: #239A3D;
}

.yesButton:hover {
    background-color: #1a742d;
    cursor: pointer;
}