/* .my-node-enter {
    opacity: 0.4;
}
.my-node-enter-active {
  opacity: 1;
  transition: opacity 1000ms;
} */
.my-node-exit {
  opacity: 1;
}
.my-node-exit-active {
  opacity: 0.5;
  transition: opacity 1500ms;
}  

