.container {
  font-family: 'Montserrat', sans-serif;
  padding: 146px 85px 62px;
}

.header {
  display: grid;
  grid-template-columns: minmax(auto, 382px) 1fr;  
  color: #FF645F;
  margin-bottom: 100px;
}

.title {
  font-weight: 800;
  font-size: 48px;
  color: #FF645F;
  margin-bottom: 50px;
}

.text {
  font-weight: 300;
  font-size: 18px;
  line-height: 22px;
  margin-bottom: 62px;
}

.tileContainer {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  max-width: 899px;
  margin: auto;
}