.hidden {
    position: absolute;
    visibility: hidden;
}
.app_puzzle button {
    cursor: pointer;
    border-radius: 4px;
}
//
.puzzle__start {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
}