.plansContainer {
    display: flex;
    flex-direction: column;
    /* align-items: center;
    justify-content: flex-end; */
}

.plans {
    display: flex;
    justify-content: space-between;
}

@media (max-width: 1035px) {
    .plans {
        justify-content: space-around;
    }

    .title {
        text-align: center;
    }
}

@media (max-width: 639px) {
    .plans {
        flex-direction: column;
        align-items: center;
    }
}


.title {
    font-weight: 900;
    font-size: 64px;
    color: #FF645F;
    font-family: Montserrat, sans-serif;
    margin: 10px 0;
}

