.card-container, .card1, .card1 .side {
	width: 180px;
	height: 150px;
	background-color: transparent;
	border: none;
}

@media (max-width: 460px) {
	.card-container, .card1, .card1 .side {
	width: 130px;
	height: 100px
	}
}

.card-container {
	cursor: pointer;
	perspective: 600px;
}

.card1 {
	display: flex;
    justify-content: center;
    align-items: center;
	border-radius: 15px;
	position: relative;
	transition: transform 0.8s, box-shadow 0.2s, border-color 0.2s;
	transform-style: preserve-3d;
	box-shadow: 0 0 3px rgba(0, 0, 0, 0.15);
}

@media (max-width: 991.98px) {
	.card1 {
		border-radius: 5px;
	}
}

.card1 .side {
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
	border-radius: 13px;
}

@media (max-width: 991.98px) {
	.card1 .side {
		border-radius: 4.33333px;
	}
}

.card1 .back {
	transform: rotateY(180deg);
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-size: 56px 56px;
}

.card1 .back::before, .card1 .back::after {
	border-radius: 13px;
	content: "";
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background: #2CC9CC;
	opacity: 1;
}

@media (max-width: 991.98px) {
	.card1 .back::before, .card1 .back::after {
		border-radius: 4.33333px;
	}
}

.card1 .back::after {
	opacity: 0;
	transition: opacity 0.4s;
}

.card-container:hover .card1 {
	box-shadow: 0 0 10px rgba(0, 190, 133, 0.6);
}

.card-container:hover .card1 .back::after {
	opacity: .5;
}

.card1.flipped {
	transform: rotateY(180deg);
}

.word {
	font-family: Montserrat, sans-serif;
    font-weight: 500;
    font-size: 28px;
    color: #1958DB;
    line-height: 1.2;
}

.timer-container {
	position: fixed;
    right: 56px;
	top: 48%;
}

@media (max-width: 1150px) {
	.timer-container {
		position: static;
		margin: 10px 0
	}
} 