.btn {
  width: 97px;
  height: 37px;
  max-height: 37px;
  margin: 33px auto 0;
  padding: 12px 0 16px 0;
  border-radius: 30px;
  border: 2px solid #FF645F;
  color: #0A5DC1;
  background-color: #ffffff;
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 10px;
  cursor: pointer;
  transition: all .2s;
}

.btn:hover {
  border-color: transparent;
  background-color: #ffffff;
  color: #0A5DC1;
  box-shadow: 1px 1px 1px 1px rgb(148, 148, 148);
}

.btnFilled {
  background-color: #FF645F;
  color: #ffffff;
}