.container {
    margin: 0 auto;
    width: 1200px;
    padding: 34px;
    font-family: Montserrat, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    color: #112256;  
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(8, 1fr);
    grid-gap: 22px;
}

.todayProgress { grid-area: 1 / 1 / 2 / 3; }
.totalWordsToday { grid-area: 2 / 2 / 5 / 3; }
.weekStatistic { grid-area: 2 / 1 / 9 / 2; }
.totalStatistic { grid-area: 1 / 3 / 5 / 4; }
.gamesStatistic { grid-area: 5 / 2 / 9 / 4; }

@media (max-width: 1170px) {
    .container {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
    }
}