.buttonsContainer {
    margin-top: 6px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 195px;
}

.moveToDifficult {
    display: inline-flex;
    border: none;
    background-color: transparent;
    cursor: pointer;
    text-decoration: underline;
    font-size: 12px;
    color: #112256;
    outline: none;
    font-weight: 300;
}

.moveToDifficult:hover {
    text-decoration: none;
}