.gameContainer {
    max-width: 212px;
    max-width: 65px;
    background-color: rgba(162, 204, 218, 0.26);
    border-radius: 5px;
}

.gameTitle {
    font-family: Montserrat, sans-serif;
    font-weight: 500;
    font-size: 18px;
    color: #0A5DC1;
}

.gameStats {
    color: #112256;
    font-size: 14px;
    font-weight: 400;
}

.gameImage {
    height: 60px;
}