.lastWord {
    height: 80px;
    width: 247px;
    display: flex;
    flex-direction: column;
    color: #2A2873;
}

.top {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    font-weight: 300;
    font-size: 10px;
    height: 25%;
    margin-bottom: 0;
}

.wordContainer {
    display: flex;
    flex-direction: column;
    background-color: #F1F9FC;
    border-radius: 7px;
    height: 75%;
}

.transcription {
    padding: 3px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    font-size: 10px;
    color: #0047AA;
}

.word {
    font-size: 14px;
    font-weight: 500;
}

.translation {
    font-size: 14px;
    font-weight: 300;
}